h2 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.96px;
  margin-bottom: 16px;
  margin-top: 0;
}
ul{
    padding-inline-start: 0px;
}

.item {
  list-style-type: none;
  background: #F6F6FE;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: auto;
  margin-bottom: 24px;
}

ul#categories > .item > ul > li {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  list-style-type: none;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;|
}
